In [1]:
import pandas as pd

In [2]:
# Read in January 2019 citibike data and get row count
filename = "201901-citibike-tripdata.csv"
citibike_df = pd.read_csv(filename)
citibike_df.shape[0]

967287

In [3]:
# Get a sample of 10% of the dataset
sample_citibike_df = citibike_df.sample(frac=0.1)
sample_citibike_df.shape[0]

96729

In [4]:
sample_citibike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
712092,429,2019-01-23 09:47:18.2950,2019-01-23 09:54:28.0540,466.0,W 25 St & 6 Ave,40.743954,-73.991449,3660.0,W 16 St & 8 Ave,40.741022,-74.001385,35122,Subscriber,1980,1
919006,782,2019-01-29 17:58:06.9750,2019-01-29 18:11:09.3610,410.0,Suffolk St & Stanton St,40.720664,-73.985180,297.0,E 15 St & 3 Ave,40.734232,-73.986923,28979,Subscriber,1971,1
963551,710,2019-01-31 18:42:22.5990,2019-01-31 18:54:13.0220,324.0,DeKalb Ave & Hudson Ave,40.689888,-73.981013,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,14628,Subscriber,1976,1
408067,466,2019-01-12 18:15:33.8230,2019-01-12 18:23:20.5990,3141.0,1 Ave & E 68 St,40.765005,-73.958185,3370.0,E 78 St & 2 Ave,40.772797,-73.955778,20244,Subscriber,1972,2
613485,204,2019-01-18 17:32:44.7070,2019-01-18 17:36:09.2930,3716.0,40 Ave & Crescent St,40.753599,-73.937956,3563.0,28 St & 36 Ave,40.757186,-73.932719,31348,Subscriber,1986,1

In [5]:
# Convert dataframe to csv
sample_citibike_df.to_csv("tripdata0119.csv", index=False)

In [6]:
# Read in February 2019 citibike data and get row count
filename2 = "201902-citibike-tripdata.csv"
citibike_df2 = pd.read_csv(filename2)
citibike_df2.shape[0]

943744

In [7]:
# Get a sample of 10% of the dataset
sample_citibike_df2 = citibike_df2.sample(frac=0.1)
sample_citibike_df2.shape[0]

94374

In [8]:
sample_citibike_df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
685645,342,2019-02-21 17:42:51.3850,2019-02-21 17:48:33.9420,486.0,Broadway & W 29 St,40.746201,-73.988557,3255.0,8 Ave & W 31 St,40.750585,-73.994685,33395,Subscriber,1991,1
14517,706,2019-02-01 16:02:26.9840,2019-02-01 16:14:13.1370,522.0,E 51 St & Lexington Ave,40.757148,-73.972078,492.0,W 33 St & 7 Ave,40.750200,-73.990931,33740,Subscriber,1956,1
100228,1159,2019-02-04 14:34:44.3390,2019-02-04 14:54:04.2400,525.0,W 34 St & 11 Ave,40.755942,-74.002116,3256.0,Pier 40 - Hudson River Park,40.727714,-74.011296,27904,Customer,1969,0
103390,1289,2019-02-04 15:50:06.3470,2019-02-04 16:11:35.8260,514.0,12 Ave & W 40 St,40.760875,-74.002777,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,34240,Subscriber,1980,1
688851,265,2019-02-21 18:23:35.5370,2019-02-21 18:28:01.1250,258.0,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,324.0,DeKalb Ave & Hudson Ave,40.689888,-73.981013,33809,Subscriber,1972,1

In [9]:
# Convert dataframe to csv
sample_citibike_df2.to_csv("tripdata0219.csv", index=False)

In [10]:
# Read in March 2019 citibike data and get row count
filename3 = "201903-citibike-tripdata.csv"
citibike_df3 = pd.read_csv(filename3)
citibike_df3.shape[0]

1327960

In [11]:
# Get a sample of 10% of the dataset
sample_citibike_df3 = citibike_df3.sample(frac=0.1)
sample_citibike_df3.shape[0]

132796

In [12]:
sample_citibike_df3.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1098617,419,2019-03-27 18:26:59.4080,2019-03-27 18:33:58.7290,3109.0,Banker St & Meserole Ave,40.726060,-73.956210,3108.0,Nassau Ave & Russell St,40.725570,-73.944340,32202,Subscriber,1968,0
892877,768,2019-03-23 19:56:42.0480,2019-03-23 20:09:30.7410,3115.0,India St & Manhattan Ave,40.732322,-73.955086,3454.0,Leonard St & Maujer St,40.710369,-73.947060,31017,Subscriber,1987,1
290368,979,2019-03-10 14:09:33.8930,2019-03-10 14:25:53.4870,346.0,Bank St & Hudson St,40.736529,-74.006180,514.0,12 Ave & W 40 St,40.760875,-74.002777,31248,Customer,1969,0
1270933,867,2019-03-30 16:12:36.8550,2019-03-30 16:27:04.4330,3641.0,Broadway & W 25 St,40.742869,-73.989186,312.0,Allen St & Stanton St,40.722055,-73.989111,29683,Customer,1969,0
1142564,590,2019-03-28 15:54:00.3770,2019-03-28 16:03:50.5060,546.0,E 30 St & Park Ave S,40.744449,-73.983035,529.0,W 42 St & 8 Ave,40.757570,-73.990985,36238,Subscriber,1984,1

In [13]:
# Convert dataframe to csv
sample_citibike_df3.to_csv("tripdata0319.csv", index=False)

In [14]:
# Read in April 2019 citibike data and get row count
filename4 = "201904-citibike-tripdata.csv"
citibike_df4 = pd.read_csv(filename4)
citibike_df4.shape[0]

1766094

In [15]:
# Get a sample of 10% of the dataset
sample_citibike_df4 = citibike_df4.sample(frac=0.1)
sample_citibike_df4.shape[0]

176609

In [16]:
sample_citibike_df4.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1760265,1058,2019-04-30 20:28:50.1120,2019-04-30 20:46:28.8560,3674,Jay St & York St,40.701403,-73.986727,280,E 10 St & 5 Ave,40.733320,-73.995101,25967,Subscriber,1990,1
250042,1105,2019-04-05 08:07:38.5740,2019-04-05 08:26:03.5870,487,E 20 St & FDR Drive,40.733143,-73.975739,524,W 43 St & 6 Ave,40.755273,-73.983169,29128,Subscriber,1972,1
198549,645,2019-04-04 11:22:34.0180,2019-04-04 11:33:19.3370,518,E 39 St & 2 Ave,40.747804,-73.973442,442,W 27 St & 7 Ave,40.746647,-73.993915,36538,Subscriber,1972,1
120450,444,2019-04-03 08:43:30.0420,2019-04-03 08:50:54.5730,402,Broadway & E 22 St,40.740343,-73.989551,3255,8 Ave & W 31 St,40.750585,-73.994685,35002,Subscriber,1982,1
707411,486,2019-04-12 15:35:43.3940,2019-04-12 15:43:49.9010,412,Forsyth St & Canal St,40.715816,-73.994224,3746,6 Ave & Broome St,40.724308,-74.004730,37319,Subscriber,1982,1

In [17]:
# Convert dataframe to csv
sample_citibike_df4.to_csv("tripdata0419.csv", index=False)

In [18]:
# Read in May 2019 citibike data and get row count
filename5 = "201905-citibike-tripdata.csv"
citibike_df5 = pd.read_csv(filename5)
citibike_df5.shape[0]

1924563

In [19]:
# Get a sample of 10% of the dataset
sample_citibike_df5 = citibike_df5.sample(frac=0.1)
sample_citibike_df5.shape[0]

192456

In [20]:
sample_citibike_df5.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
146195,478,2019-05-03 09:53:05.8700,2019-05-03 10:01:04.0670,364,Lafayette Ave & Classon Ave,40.689004,-73.960239,3549,Grand Ave & Bergen St,40.678045,-73.962408,28427,Subscriber,1981,1
1382744,1397,2019-05-23 12:10:23.1180,2019-05-23 12:33:40.4100,377,6 Ave & Canal St,40.722438,-74.005664,377,6 Ave & Canal St,40.722438,-74.005664,33370,Subscriber,1993,2
1323230,363,2019-05-22 14:59:22.4090,2019-05-22 15:05:25.5170,301,E 2 St & Avenue B,40.722174,-73.983688,251,Mott St & Prince St,40.723180,-73.994800,28134,Subscriber,1989,1
519569,342,2019-05-09 15:42:27.3700,2019-05-09 15:48:09.4760,308,St James Pl & Oliver St,40.713079,-73.998512,79,Franklin St & W Broadway,40.719116,-74.006667,33915,Subscriber,1992,2
839470,478,2019-05-16 06:10:03.7290,2019-05-16 06:18:01.7490,523,W 38 St & 8 Ave,40.754666,-73.991382,402,Broadway & E 22 St,40.740343,-73.989551,15327,Subscriber,1981,1

In [21]:
# Convert dataframe to csv
sample_citibike_df5.to_csv("tripdata0519.csv", index=False)

In [22]:
# Read in June 2019 citibike data and get row count
filename6 = "201906-citibike-tripdata.csv"
citibike_df6 = pd.read_csv(filename6)
citibike_df6.shape[0]

2125370

In [23]:
# Get a sample of 10% of the dataset
sample_citibike_df6 = citibike_df6.sample(frac=0.1)
sample_citibike_df6.shape[0]

212537

In [24]:
sample_citibike_df6.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1535773,399,2019-06-23 01:26:40.2140,2019-06-23 01:33:19.5530,3130,21 St & Queens Plaza North,40.753260,-73.943358,3566,Crescent St & 35 Ave,40.759628,-73.932145,30894,Customer,1982,2
724549,708,2019-06-10 17:54:48.0400,2019-06-10 18:06:36.4430,257,Lispenard St & Broadway,40.719392,-74.002472,355,Bayard St & Baxter St,40.716021,-73.999744,28694,Subscriber,1995,1
669787,327,2019-06-09 16:16:52.2560,2019-06-09 16:22:19.3990,458,11 Ave & W 27 St,40.751396,-74.005226,453,W 22 St & 8 Ave,40.744751,-73.999154,28295,Subscriber,1994,1
1217167,695,2019-06-17 19:06:00.8920,2019-06-17 19:17:36.1910,377,6 Ave & Canal St,40.722438,-74.005664,311,Norfolk St & Broome St,40.717227,-73.988021,26638,Subscriber,1973,1
162286,324,2019-06-03 09:37:47.7200,2019-06-03 09:43:12.1000,471,Grand St & Havemeyer St,40.712868,-73.956981,3095,Graham Ave & Herbert St,40.719293,-73.945004,27708,Subscriber,1990,1

In [25]:
# Convert dataframe to csv
sample_citibike_df6.to_csv("tripdata0619.csv", index=False)

In [26]:
# Read in July 2019 citibike data and get row count
filename7 = "201907-citibike-tripdata.csv"
citibike_df7 = pd.read_csv(filename7)
citibike_df7.shape[0]

2181064

In [27]:
# Get a sample of 10% of the dataset
sample_citibike_df7 = citibike_df7.sample(frac=0.1)
sample_citibike_df7.shape[0]

218106

In [28]:
sample_citibike_df7.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
951488,256,2019-07-14 18:03:47.6550,2019-07-14 18:08:04.3690,486.0,Broadway & W 29 St,40.746201,-73.988557,446.0,W 24 St & 7 Ave,40.744876,-73.995299,17589,Subscriber,1969,1
1114831,916,2019-07-16 18:39:24.1210,2019-07-16 18:54:40.9770,251.0,Mott St & Prince St,40.723180,-73.994800,279.0,Peck Slip & Front St,40.707873,-74.001670,20948,Subscriber,1991,1
1528361,1049,2019-07-23 17:01:09.7450,2019-07-23 17:18:38.8040,382.0,University Pl & E 14 St,40.734927,-73.992005,493.0,W 45 St & 6 Ave,40.756800,-73.982912,35161,Subscriber,1992,1
372751,242,2019-07-06 16:17:36.4850,2019-07-06 16:21:39.3770,3534.0,Frederick Douglass Blvd & W 117 St,40.805159,-73.954692,3553.0,Frederick Douglass Blvd & W 112 St,40.801694,-73.957145,39620,Subscriber,1986,1
944802,278,2019-07-14 16:49:53.4950,2019-07-14 16:54:32.2870,311.0,Norfolk St & Broome St,40.717227,-73.988021,473.0,Rivington St & Chrystie St,40.721101,-73.991925,17777,Subscriber,1988,1

In [29]:
# Convert dataframe to csv
sample_citibike_df7.to_csv("tripdata0719.csv", index=False)

In [30]:
# Read in August 2019 citibike data and get row count
filename8 = "201908-citibike-tripdata.csv"
citibike_df8 = pd.read_csv(filename8)
citibike_df8.shape[0]

2344224

In [31]:
# Get a sample of 10% of the dataset
sample_citibike_df8 = citibike_df8.sample(frac=0.1)
sample_citibike_df8.shape[0]

234422

In [32]:
sample_citibike_df8.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1061869,1129,2019-08-14 18:55:09.2200,2019-08-14 19:13:58.3860,532.0,S 5 Pl & S 5 St,40.710451,-73.960876,3760.0,Willoughby Ave & Wyckoff Ave,40.705614,-73.921530,38448,Subscriber,1992,1
1381027,256,2019-08-19 02:24:42.1410,2019-08-19 02:28:58.8690,3085.0,Roebling St & N 4 St,40.714690,-73.957390,3078.0,Broadway & Roebling St,40.709248,-73.960631,28892,Subscriber,1983,1
675927,739,2019-08-09 19:00:04.7150,2019-08-09 19:12:24.0940,307.0,Canal St & Rutgers St,40.714275,-73.989900,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,35005,Customer,1993,2
483380,183,2019-08-07 06:57:56.9220,2019-08-07 07:01:00.5590,435.0,W 21 St & 6 Ave,40.741740,-73.994156,470.0,W 20 St & 8 Ave,40.743453,-74.000040,33937,Subscriber,1983,1
2208938,449,2019-08-30 07:32:24.5010,2019-08-30 07:39:54.4570,394.0,E 9 St & Avenue C,40.725213,-73.977688,293.0,Lafayette St & E 8 St,40.730207,-73.991026,27366,Subscriber,1990,2

In [33]:
# Convert dataframe to csv
sample_citibike_df8.to_csv("tripdata0819.csv", index=False)

In [34]:
# Read in September 2019 citibike data and get row count
filename9 = "201909-citibike-tripdata.csv"
citibike_df9 = pd.read_csv(filename9)
citibike_df9.shape[0]

2444900

In [35]:
# Get a sample of 10% of the dataset
sample_citibike_df9 = citibike_df9.sample(frac=0.1)
sample_citibike_df9.shape[0]

244490

In [36]:
sample_citibike_df9.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1503886,1859,2019-09-20 08:01:52.4930,2019-09-20 08:32:51.9560,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3812,University Pl & E 14 St,40.734814,-73.992085,33983,Subscriber,1971,1
1752703,1610,2019-09-22 20:01:05.3640,2019-09-22 20:27:55.4100,496,E 16 St & 5 Ave,40.737262,-73.992390,402,Broadway & E 22 St,40.740343,-73.989551,38496,Subscriber,1975,1
1533359,454,2019-09-20 13:46:35.4990,2019-09-20 13:54:10.4980,3164,Columbus Ave & W 72 St,40.777057,-73.978985,3139,E 72 St & Park Ave,40.771183,-73.964094,33114,Subscriber,1970,1
500188,480,2019-09-08 09:31:34.5550,2019-09-08 09:39:34.8130,532,S 5 Pl & S 5 St,40.710451,-73.960876,3449,Eckford St & Engert Ave,40.721463,-73.948009,16799,Customer,1969,0
2443098,66,2019-09-30 22:23:38.0000,2019-09-30 22:24:44.6730,497,E 17 St & Broadway,40.737050,-73.990093,496,E 16 St & 5 Ave,40.737262,-73.992390,33936,Subscriber,1991,1

In [37]:
# Convert dataframe to csv
sample_citibike_df9.to_csv("tripdata0919.csv", index=False)

In [38]:
# Read in October 2019 citibike data and get row count
filename10 = "201910-citibike-tripdata.csv"
citibike_df10 = pd.read_csv(filename10)
citibike_df10.shape[0]

2092573

In [39]:
# Get a sample of 10% of the dataset
sample_citibike_df10 = citibike_df10.sample(frac=0.1)
sample_citibike_df10.shape[0]

209257

In [40]:
sample_citibike_df10.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
894495,735,2019-10-13 14:33:34.7620,2019-10-13 14:45:50.2480,435,W 21 St & 6 Ave,40.741740,-73.994156,478,11 Ave & W 41 St,40.760301,-73.998842,27568,Subscriber,1980,1
1992962,230,2019-10-30 10:14:21.8330,2019-10-30 10:18:12.7890,3708,W 13 St & 5 Ave,40.735445,-73.994310,297,E 15 St & 3 Ave,40.734232,-73.986923,27189,Subscriber,2001,1
1688704,407,2019-10-25 09:44:48.9620,2019-10-25 09:51:36.3600,3472,W 15 St & 10 Ave,40.742754,-74.007474,3708,W 13 St & 5 Ave,40.735445,-73.994310,26505,Subscriber,1985,1
1543113,458,2019-10-23 15:03:04.9370,2019-10-23 15:10:43.6610,3799,6 Ave & W 34 St,40.749640,-73.988050,3641,Broadway & W 25 St,40.742869,-73.989186,30140,Subscriber,1968,1
944231,1483,2019-10-14 09:28:09.9430,2019-10-14 09:52:53.1070,442,W 27 St & 7 Ave,40.746647,-73.993915,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,38368,Subscriber,1969,1

In [41]:
# Convert dataframe to csv
sample_citibike_df10.to_csv("tripdata1019.csv", index=False)

In [42]:
# Read in November 2019 citibike data and get row count
filename11 = "201911-citibike-tripdata.csv"
citibike_df11 = pd.read_csv(filename11)
citibike_df11.shape[0]

1478708

In [43]:
# Get a sample of 10% of the dataset
sample_citibike_df11 = citibike_df11.sample(frac=0.1)
sample_citibike_df11.shape[0]

147871

In [44]:
sample_citibike_df11.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
935282,1427,2019-11-18 12:59:50.8730,2019-11-18 13:23:38.1620,3378,E 76 St & Park Ave,40.773763,-73.962221,383,Greenwich Ave & Charles St,40.735238,-74.000271,28461,Subscriber,1958,1
722304,1337,2019-11-13 18:09:42.9940,2019-11-13 18:32:00.4710,3002,South End Ave & Liberty St,40.711512,-74.015756,3388,President St & Henry St,40.682800,-73.999904,41358,Subscriber,1980,1
627638,228,2019-11-11 17:10:49.8690,2019-11-11 17:14:38.7000,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3416,7 Ave & Park Pl,40.677615,-73.973243,40575,Subscriber,1992,1
176760,216,2019-11-03 19:47:40.7100,2019-11-03 19:51:17.1080,223,W 13 St & 7 Ave,40.737815,-73.999947,168,W 18 St & 6 Ave,40.739713,-73.994564,29920,Customer,1969,0
786526,532,2019-11-14 22:33:54.6520,2019-11-14 22:42:46.7340,3812,University Pl & E 14 St,40.734814,-73.992085,174,E 25 St & 1 Ave,40.738177,-73.977387,39957,Subscriber,1997,1

In [45]:
# Convert dataframe to csv
sample_citibike_df11.to_csv("tripdata1119.csv", index=False)

In [46]:
# Read in December 2019 citibike data and get row count
filename12 = "201912-citibike-tripdata.csv"
citibike_df12 = pd.read_csv(filename12)
citibike_df12.shape[0]

955210

In [47]:
# Get a sample of 10% of the dataset
sample_citibike_df12 = citibike_df12.sample(frac=0.1)
sample_citibike_df12.shape[0]

95521

In [48]:
sample_citibike_df12.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
857509,1049,2019-12-27 17:43:48.0660,2019-12-27 18:01:17.8620,536,1 Ave & E 30 St,40.741444,-73.975361,3244,University Pl & E 8 St,40.731437,-73.994903,38629,Subscriber,1983,1
910447,892,2019-12-29 19:20:34.2830,2019-12-29 19:35:26.7880,3798,W 40 St & 5 Ave,40.752269,-73.982079,267,Broadway & W 36 St,40.750977,-73.987654,39784,Subscriber,1987,1
942913,299,2019-12-31 15:20:16.9940,2019-12-31 15:25:16.9670,502,Henry St & Grand St,40.714211,-73.981095,295,Pike St & E Broadway,40.714067,-73.992939,27671,Subscriber,1978,1
613918,227,2019-12-18 18:19:44.6330,2019-12-18 18:23:32.4270,379,W 31 St & 7 Ave,40.749156,-73.991600,486,Broadway & W 29 St,40.746201,-73.988557,41086,Subscriber,1953,2
434385,83,2019-12-13 08:54:54.8710,2019-12-13 08:56:18.3970,3609,Vernon Blvd & 31 Ave,40.769247,-73.935450,3588,Vernon Blvd & 10 St,40.767186,-73.937355,41730,Subscriber,1993,2

In [49]:
# Convert dataframe to csv
sample_citibike_df12.to_csv("tripdata1219.csv", index=False)

In [51]:
frames = [sample_citibike_df, sample_citibike_df2, sample_citibike_df3, sample_citibike_df4, sample_citibike_df5, \
         sample_citibike_df6, sample_citibike_df7, sample_citibike_df8, sample_citibike_df9, sample_citibike_df10, \
         sample_citibike_df11, sample_citibike_df12]

In [52]:
combined_df = pd.concat(frames)

In [53]:
combined_df.shape[0]

2055168

In [54]:
combined_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
712092,429,2019-01-23 09:47:18.2950,2019-01-23 09:54:28.0540,466.0,W 25 St & 6 Ave,40.743954,-73.991449,3660.0,W 16 St & 8 Ave,40.741022,-74.001385,35122,Subscriber,1980,1
919006,782,2019-01-29 17:58:06.9750,2019-01-29 18:11:09.3610,410.0,Suffolk St & Stanton St,40.720664,-73.985180,297.0,E 15 St & 3 Ave,40.734232,-73.986923,28979,Subscriber,1971,1
963551,710,2019-01-31 18:42:22.5990,2019-01-31 18:54:13.0220,324.0,DeKalb Ave & Hudson Ave,40.689888,-73.981013,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,14628,Subscriber,1976,1
408067,466,2019-01-12 18:15:33.8230,2019-01-12 18:23:20.5990,3141.0,1 Ave & E 68 St,40.765005,-73.958185,3370.0,E 78 St & 2 Ave,40.772797,-73.955778,20244,Subscriber,1972,2
613485,204,2019-01-18 17:32:44.7070,2019-01-18 17:36:09.2930,3716.0,40 Ave & Crescent St,40.753599,-73.937956,3563.0,28 St & 36 Ave,40.757186,-73.932719,31348,Subscriber,1986,1

In [55]:
# Convert dataframe to csv
combined_df.to_csv("tripdata_year_2019.csv", index=False)